RewriteEngine On

# Redirect all traffic to index.php except:
#  - index.php
#  - static/
#  - robots.txt (convention)
RewriteCond $1 !^(index\.php|static|robots\.txt|favicon\.ico)
RewriteRule ^(.*)$ /index.php [L]
